@charset "utf-8";
body {
  margin: 0;
  padding: 0;
}
.cFix:after{
  display: block;
  content: "";
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
/* ------common------- */

.wrapper-inr {
  width: 860px;
  margin: 0 auto;
  background: #fff;
}

.beach-inr {
  width: 775px;
  margin: 0 auto;
  padding: 50px;
}

/*------- start of kppw01------ */

.sec01 {
  border-bottom: 1px solid #bbb;
}

.sec01 h1 {
  font-size: 30px;
  color: #316e66;
  margin-bottom: 18px;
}

.sec01 h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}
.sec01 p,
.sec02 p {
  font-size: 15px;
  color: #5a4535;
  padding-bottom: 25px;
  line-height: 30px;
}
.sec01 p>a,
.sec02 p>a {
  color: #5a4535;
}

.sec02 {
  padding-top: 30px;
}

.sec02 h2 {
  font-size: 22px;
  padding-bottom: 30px;
}

.sec02-left {
  width: 440px;
  float: left;
  border-right: 1px solid #bbb;
  padding-right: 40px;
}

.sec02-right {
  float: left;
  width: 270px;
  padding-left: 20px;
}
/* .sec02-right h2 {
  padding-left: 20px;
} */